
<div class='jumbotron' style='text-align: center'>
  <h1>UMAMI BURGER</h1>

  <h2>Welcome to Umami Burger</h2>
</div>


  <div class='container col-xs-12 col-sm-6 col-lg-6'>
    <ul>
      {{#each burger}}
        {{#unless this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devoured" value="1">
              <button class="btn" type="submit">Devour</button>
            </form>

          </li>
        {{/unless}}
      {{/each}}
    </ul>
  <h2>Burgers you've devoured</h2>

  <ul>
    {{#each burger}}
      {{#if this.devoured}}
        <li>
          {{this.burger_name}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>


<h2>Add A New Burger</h2>
<form class="create-update-form" action="/" method="POST">

<div class="form-group">
  <label for="newburger">Burger Name:</label>
  <input type="text" id="newburger" name="burger_name">
</div>

  
<button class='btn' type="submit">Add Burger</button>
</form>

