<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       PEPPERED BURGER
      </a>



      <form class="navbar-form navbar-left create-update-form" action="/" method="POST">
      <div class="form-group">
          <input type="text" class'form-control' id="newburger" name="burger_name">
      </div>
        <button class='btn' type="submit">Order Burger</button>
      </form>
  </div>
</nav>


<div class="parallax-1">
  <div class='ordered'>
    <div class='ordered-background'>
      <ul>
          {{#each burger}} {{#unless this.devoured}}
          <li>
              {{this.burger_name}}

              <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="1">
                  <button class="btn" type="submit">Devour</button>
              </form>

          </li>
          {{/unless}} {{/each}}
      </ul></div>
    </div>
  </div>
</div>

  <div class="menu">

    <div class='container-fluid col-xs-12 col-sm-6 col-lg-6'>

        <h1> ORDERED </h1>
      <h2>Burgers devoured this month</h2>

      <ul>
          {{#each burger}} {{#if this.devoured}}
          <li>
              {{this.burger_name}}
          </li>
          {{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>

<div class='parallax-2'>
</div>


